<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">
    <title>Monitor</title>
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/dashboard.css')}}" rel="stylesheet">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
      // Check if the JWT token exists in localStorage
      const Token = sessionStorage.getItem('token');


      if (!Token) {
          window.location.href = '/login';
      }
    </script>
    <script>
      function logout() {
        sessionStorage.clear();
        window.location.reload();
      }
    </script>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Linux Server Monitor</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <button type="button" onclick="logout()" class="btn btn-default btn-lg">Logout</button>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashboard</h1>

          <h2 class="sub-header">System information</h2>
          <div class="table-responsive">
            <h4 id="opsys"></h4>
            <h4 id="uptime"></h4>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>CPU</th>
                  <th>Name</th>
                  <th>Core count</th>
                  <th>CPU Load (%)</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td id="cpuname"></td>
                  <td id="cores"></td>
                  <td id="cpuload"></td>
                  <td></td>
                </tr>
              </tbody>
              <thead>
                <tr>
                  <th>RAM (Gb)</th>
                  <th>Total RAM</th>
                  <th>Used RAM</th>
                  <th>Free RAM</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td id="totram"></td>
                  <td id="useram"></td>
                  <td id="freeram"></td>
                  <td></td>
                </tr>
              </tbody>
              <thead>
                <tr>
                  <th>Disk (Gb)</th>
                  <th>Total disk space</th>
                  <th>Used disk space</th>
                  <th>Free disk space</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td id="totdisk"></td>
                  <td id="usedisk"></td>
                  <td id="freedisk"></td>
                  <td></td>
                </tr>
                <tr>
                  <th>Network latency (ms)</th>
                  <th>Min</th>
                  <th>Max</th>
                  <th>Avg</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td id="minlat"></td>
                  <td id="maxlat"></td>
                  <td id="avglat"></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row placeholders">
            <div class="refresh">
              <ul class="nav navbar-nav navbar-left">
                <button type="button" onclick="" class="btn btn-primary">Refresh</button>
              </ul>
            </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="./static/js/jquery.min.js"><\/script>')</script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/holder.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/dashboard.js')}}"></script>
  </body>
</html>
